.container {
  display: grid;
  grid-template-columns: 55% 20% 25%;
  margin: 2.313rem 3.25rem 0;
  padding: 2rem 3.188rem 1.625rem 2.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.categories {
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-weight: bold;
  color: var(--black-two);
}

.title {
  margin: 0.188rem 20.188rem 0 0;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  letter-spacing: -0.2px;
  color: var(--black-two);
  font-weight: bold;
}

.author {
  /* margin: 0.25rem 0 0; */
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #4386bf;
}

.actions {
  margin-top: 1.3rem;
}

.actions > *,
.update {
  font-family: "Roboto Slab", serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: #4386bf;
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 0.3rem 0;
}

.actions > *:not(:last-child) {
  padding-right: 1.2rem;
  margin-right: 1.2rem;
  border-right: 2px solid #e8e8e8;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.3rem;
  border-right: 2px solid #e8e8e8;
}

.circle {
  border-image-slice: 1;
  border-radius: 50%;
  width: 4.45rem;
  height: 4.45rem;
  border: 5px solid #307bbe;
  border-left-color: #e8e8e8;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pr1 {
  display: flex;
  flex-direction: column;
}

.pN,
.pC {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: var(--black-two);
}

.pC,
.currentChapters {
  font-size: 0.85rem;
  opacity: 0.5;
}

.chapters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.7rem;
  margin-left: 6rem;
}

.currentChapters {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: var(--black-two);
  font-size: 0.9rem;
}

.chaptersNumbers {
  letter-spacing: -0.4px;
  color: var(--black-two);
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.update {
  cursor: pointer;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 8px 24px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
}
