.container {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status {
  cursor: pointer;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 8px 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #fff;
  border: none;
}

h2 {
  font-size: 2rem;
  letter-spacing: -0.2px;
  color: var(--black-two);
  font-weight: bold;
}
