.panel {
  min-width: 80vw;
  padding: 1.438rem 4.188rem 1.688rem 4.25rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #e8e8e8;
}

.books {
  margin: 1.625rem 1.563rem 0.688rem 0;
}

.categories {
  margin: 1.625rem 0 0.688rem 0.563rem;
  opacity: 0.5;
}

.cms {
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-size: 2.375rem;
  font-weight: bold;
  color: #0290ff;
}

.oval {
  width: 2.813rem;
  height: 2.813rem;
  padding: 0.875rem;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 48vw;
  cursor: pointer;
}

img {
  width: 1.363rem;
  height: 1.363rem;
  background-color: #0290ff;
}
